/* Page background */
.home-page {
  min-height: 100vh;
  background: linear-gradient(180deg, #5d00ff, #290a59, #0d1226);
  padding: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Header Section */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 36px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  opacity: 0.8;
  margin-top: -5px;
}

/* City Dropdown */
.city-select-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.city-select {
  padding: 8px 15px;
  background: #161e32;
  border: 1px solid #3a4a6b;
  color: white;
  font-size: 14px;
  border-radius: 8px;
}

.location-icon {
  font-size: 20px;
}

/* Section Title */
.section-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  border-left: 4px solid #ff3dff;
  padding-left: 10px;
  margin-top: 20px;
}

/* Movie Card */
.movie-card {
  background: #0f1730;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.movie-poster {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

/* Rating Badge */
.rating-badge {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #ffcc00;
  padding: 6px 12px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

/* Movie Info */
.movie-info {
  margin-top: 15px;
}

.movie-name {
  font-size: 20px;
  font-weight: bold;
}

.movie-genre {
  font-size: 14px;
  opacity: 0.7;
}

.movie-details {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.8;
}

/* Date & Time Box */
.datetime-box {
  margin-top: 12px;
  background: #161e32;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #283456;
}

/* Book Button */
.movie-actions {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

/* Both buttons 50/50 width */
.movie-actions button {
  flex: 1;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: #fff;
}

/* Book button */
.book-btn {
  background: linear-gradient(90deg, #ff27f5, #7a00ff);
  border-radius: 10px 0 0 10px;
}

/* Trailer button - same style */
.trailer-btn {
  background: linear-gradient(90deg, #7a00ff, #ff27f5);
  border-radius: 0 10px 10px 0;
}

/* Hover effect */
.movie-actions button:hover {
  opacity: 0.85;
  transition: 0.2s;
}

.login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #1e2a4a;
  color: white;
  padding: 8px 14px;
  border: 1px solid #3f4f7a;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login-btn:hover {
  background: #2d3b5c;
}
/* Mobile view */
@media (max-width: 768px) {
  .movie-card {
    width: 100%;
    flex-direction: column;
  }

  .home-page {
    padding: 1rem;
  }

  .book-btn {
    width: 100%;
  }

  .screen-box,
  .seat-grid {
    width: 100%;
    padding: 10px;
  }
}
