.payment-container {
  padding: 20px;
  background: #0d1324;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}

.payment-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.summary-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.summary-box {
  background: #111a2d;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.summary-movie {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.summary-info {
  font-size: 14px;
  opacity: 0.8;
}

.method-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}

.method-btn {
  background: #1b2338;
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.method-btn.active {
  background: #2563eb;
}

.paypal-logo {
  width: 90px;
  height: 20px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 18px;
}

.total-price {
  font-weight: bold;
}

.pay-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  background: #2563eb;
  color: white;
  margin-top: 10px;
}
